.about-hero {
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
  }
}

.about-wrap {
  h2 {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }
}
