.post-type-archive-institutions .site-main,.post-type-archive-educator .site-main{
	padding-top: 50px;
	background: $color__lightgrey;
	.tabbingwrapper{
		display: flex;
	}
	.entry-title{
		margin: 10px 0;
		font-size: 18px;
	}
	.educator-image{
		height: 200px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}
	.educatorname{
		letter-spacing: 0.9pt;
	}
	.educators-category{
		color:$color_azure;
		text-align: center;
		a{
			color:$color_azure;
		}
		
	}
	.tabbingsection{
		margin: 0px auto;
		display: inline-flex;
		text-align: center;
		border: 1px $color__greyborders solid;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 0 10px;
		
		.inactive{
			color: $color_warm-grey-two;
		}
		.active{
			color: black;
			margin: auto;	
			&:hover{
				color:$color__text-main-hover;
			}
		}
		a{
			font-size: 15px;
		}
		a:first-child{
			padding: 8px 0px;
			padding-right: 10px;
			border-right: 1px solid $color__greyborders;
		}
		a:last-child{
			padding-left: 5px;
			margin: auto;
		}
	}
	.riipen-list{
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		.personwrapper{
			width: 30%;
			margin: 30px auto;
			box-sizing: border-box;
		}
		h2{
			text-align: center;
		}
		a{
			img{
				box-shadow: 4px 17px 53px 1px rgba(166,166,166,1);
				width: 100%;
				height: 100%;
			}
		}
	}
}