 .post-type-archive-organizations .site-main{
 	background: $color__lightgrey;
 	.view-type-buttons{
 		width:50%;
 		height: 100px;
 		display: flex;
 		justify-content: space-around;
 		margin: 0 auto;
 		padding-top: 36px;
 	}
 	
 	.grid-view{
 		display: flex;
 		flex-wrap: wrap;
 		&:hover{
 			.grey-boxes{
 				background-color: $color_warm-grey-two;	
 				&:nth-child(0n+2){
 					background-color: $color_pumpkin-orange;
 				}
 			}

 		}
 		.grey-boxes{
 			box-sizing: border-box;
 			width: 50%;
 			height: 50%;
 			background-color: $color_warm-grey;
 			border: 2px $color__lightgrey solid;
 			&:nth-child(0n+2){
 				background-color: $color_pumpkin-orange;
 			}
 			
 		}
 	}
 	.list-view{
 		padding-top: 2px;
 		&:hover{
 			background-color: rgba(255, 255, 255, 0.5);
 			// background: url("../../images/btsMobileListgallery.png")
 		}
 	}
 	.psudeo-button{
 		width: 50px;
 		height: 50px;

 	}
 	.riipen-list{
 		transition: all 1s ease;
 	}
 	.riipen-list.organizationgrid{
 		display: flex;
 		flex-wrap: wrap;
 		justify-content: space-around;
 		padding-bottom: 140px;
 		.personwrapper{
 			width: 30%;
 			margin: 30px auto;

 			box-sizing: border-box;
 			.entry-title{
 				display: none;
 			}
 			.entry-summary{
 				display: none;
 			}
 		}
 		h2{
 			text-align: center;
 		}
 		a{
 			img{
 				box-shadow: 4px 17px 53px 1px rgba(166,166,166,1);
 				width: 100%;
 				height: 100%;
 			}
 		}
 	}
 	.riipen-list.organizationlist{
 		width: 95%;
 		padding-bottom: 140px;
 		display: flex;
 		margin: 10px 0px;
 		margin: 10px auto;
 		flex-wrap: wrap;
 		.personwrapper{
 			width: 100%;
 			display: flex;
 			height: 200px;
 			border: 2px solid $color__greyborders;
 			&:hover{
 				border: 2px solid $color_warm-grey;
 			}
 			.organization-content{
 				width: 75%;
 			}
 			.entry-title{

 				margin: 0;
 			}
 			a{
 				display: flex;
 				width: 100%;
 				img {
 					width: 50%;
 					margin: auto 0;
 					
 					padding-left: 5px;
 					max-width: 100%;
 					height: auto;
 				}
 			}
 		}
		// display: none;
	}
}