.wp-posts-carousel-container{
	box-shadow: none;
	img{
		height: 90px;
	}
	a{
		outline: none;
	}
}
.wp-posts-carousel-slide {
	.wp-posts-carousel-container{
		box-shadow: none !important;
		background: none !important;
	}
}
.carousel-cell{
		
		width: 33%;
		height: 200px;
		@include desktop{
			width: 25%;
				height: 275px;
		}

	
	padding: 10px;

	a{
		height: 100%;
		width: 100%;
		img{
			height: 100%;
		width: 100%;
			
			max-width: 100%;
		}
	}
}