.wp-posts-carousel-container{
	box-shadow: none;
	img{
		height: 90px;
	}
	a{
		outline: none;
	}
}
.wp-posts-carousel-slide {
	.wp-posts-carousel-container{
		box-shadow: none !important;
	}
}
.carousel-cell{
	width: 30%;
	@include desktop{
		width: 25%;
	}
	padding: 10px;
	height: 275px;
	a{
		height: 100%;
		width: 100%;
		img{
			height: 100%;
		width: 100%;
			
			max-width: 100%;
		}
	}
}