.educator-page{
    .educator-talent-section-1{
        text-transform: uppercase;
        font: 1rem $font__main;
        font-weight: bold;
        display:flex;
       background-image: url('/../images/organizationheader.jpeg');
        h1{
            color: $color_pumpkin-orange;
            margin: 0;
            span{
                color: $color__background-screen;
            }
        }
        p{
            color:white;
            margin:0;
        }
    }
   .educator-talent-section-3{
           text-align: center;
       p{
           color: $color_azure;
           font: 1rem $font__main;
       }
       .educator-talent-btn{
           color: $color__background-screen;
           background-color: $color_dark-mint;
        padding: 10px 20px;
        border-radius: 13%;
       }
.educator-talent-section-5{
    font: 1.5rem $font__main;
    .testimonial{
        font-style: italics;
        color: $color__border-abbr;
    }
    .position{
        color:$color_pumpkin-orange;
        text-align: right;
    }
    .name{
        color: $color__border-abbr;
        text-align: right;
    }
}
   } 
}