.educator-page {
  padding: 0;
    .educator-talent-section-1 {
        height: 242px;
        padding: .5em 1em;
        background-image: url('../../images/educatorheader.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        max-width: 100%;
        @include desktop {
            height: 400px;
        }
    }
    .journey-map {
        background-color: $color_journey-blue;
        img {
            margin: 0 auto;
        }
        .normal {
            @include desktop {
                display: none;
            }
        }
        .sideways {
            display: none;
            @include desktop {
                display: block;
            }
        }
    }
    .circle {
        display: none;
        @include desktop {
            width: 14em;
            height: 14em;
            background-color: $transparent_azure;
            display: flex;
            text-align: center;
            border-radius: 50%;
            margin: auto;
        }
        .title {
            display: none;
            @include desktop {
                margin: auto;
                width: 400px;
                display: block;
                color: white;
            }
        }
    }
    .text-box {
        text-transform: uppercase;
        font: 1rem $font__main;
        font-weight: bold;
        display: flex;
        @include desktop {
            display: none;
        }
        h1 {
            font-size: 1.7rem;
            color: $color_pumpkin-orange;
            margin: 0;
            span {
                color: $color__background-screen;
            }
        }
        p {
            color: white;
            margin: 0;
            padding-top: 12px;
        }
    }
}

.desktop-green {
    background-color: $color_dark-mint;
    display: block;
    @include desktop {
        display: flex;
        flex-direction: column;
    }
    .desktop-green-container1 {
        display: flex;
        margin: auto;
        align-items: center;
        h2 {
            color: $color_pumpkin-orange;
            span {
                color: $color_twilight-blue;
            }
        }
        p {
            color: white;
            margin: 0;
            padding-left: 12px;
        }
    }
    .desktop-green-container2 {
        display: block;
        color: white;
        @include desktop {
            display: flex;
            justify-content: space-between;
            margin: auto;
            width: 80%;
            max-width: 1000px;
            .left,
            .middle,
            .right {
                @include desktop {
                    width: 30%;
                    font: 1.5rem $font__main;
                }
            }
        }
    }
}

.educator-talent-section-3 {
    text-align: center;
    margin: 58px 0;
    p {
        color: $color_azure;
        font: 1rem $font__main;
        padding-bottom: 31px;
        margin: 0;
    }
    .educator-talent-btn {
        color: $color__background-screen;
        background-color: $color_dark-mint;
        padding: 15px 20px;
        border-radius: 10%;
    }
    @include desktop {
        display: none;
    }
}

.educator-talent-section-4 {
    padding: 0;
}

.educator-talent-section-5 {
    margin: auto;
    padding: 48px 0;
    width: 87%;
    .testimonial {
        font-style: italic;
        font-weight: 100;
        color: $color__border-abbr;
    }
    font: 1.5rem $font__main;
    .position {
        color: $color_pumpkin-orange;
        text-align: right;
        margin-bottom: 0;
    }
    .name {
        color: $color__border-abbr;
        text-align: right;
    }
    @include desktop {
        margin-top: 4%;
        margin-bottom: 4%;
        border: 1px solid $color_dark-mint;
        width: 59%;
        .text-container {
            margin-top: -31px;
            margin-bottom: -31px;
            border: 1px solid $color_azure;
            margin: auto;
            width: 88%;
            padding: 4%;
            .testimonial {
                font-style: normal;
                color: black;
            }
            .position,
            .name {
                color: black;
                display: inline-block;
            }
        }
    }
}
