.error-404 {
  background-color: $color_white-smoke;
  display: flex;
  text-align: center;
  height: calc(100vh - 68px);
  justify-content: center;
  align-items: center;
  .page-content {
    position: relative;
    margin: 0;
  }
  .error-image {
    background: url(../../images/404-image.png) no-repeat;
    background-size: cover;
    width: 12em;
    height: 12em;
    position: absolute;
    top: 3em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  h1 {
    color: $transparent_pumpkin-orange;
    font-size: 12em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 5rem;
    position: inherit;
  }
  h2 {
    color: $color_pumpkin-orange;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
  }
  p {
    color: $color_warm-grey-two;
  }
  .home-link {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: block;
      background-color: $color_dark-mint;
      width: 10em;
      height: 2.5em;
      line-height: 2.5em;
      border-radius: 5px;
      border: 2px solid $color_dark-mint;
      color: white;
      &:hover {
        background-color: white;
        color: $color_dark-mint;
      }
    }
  }
}
