.site-footer {
    background: $color_footer;
    height: 226px;
    @media (min-width: $breakpoint) {
        height: 350px;
    }
    .footer-container {
        padding-top: 76px;
        @media (min-width: $breakpoint) {
            padding-top: 5%;
        }
        .footer-social-media {
            margin: auto;
            max-width: 220px;
            display: flex;
            justify-content: space-around;
            a {
                color: #333;
                height: 50px;
                background-color: #fff;
                font-size: 1.5rem;
                border-radius: 50%;
                display: block;
                width: 50px;
                align-items: center;
                display: flex;
                text-align: center;
                justify-content: center;
                i {
                    padding: 1px 8px;
                }
            }
            @media (min-width: $breakpoint) {
                margin: auto;
                max-width: 415px;
            }
        }
        .footer-button {
            display: none;
            a {
                    color: white;
                    text-decoration: none;
                    border: 1px solid $color_dark-mint;
                    padding: 10px 51px;
                    &:hover{
                        color: black;
                        background-color: $color_dark-mint;
                    }
                }
            @include desktop {
                display: flex;
                justify-content: space-around;
                padding-bottom: 3%;
                width: 100%;
                
            }
        }
        .footer-information {
            margin: auto;
            max-width: 200px;
            padding-top: 15px;
            display: flex;
            justify-content: space-around;
            a {
                font-size: 0.75rem;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
            }
            @media (min-width: $breakpoint) {
                font-size: 1rem;
                max-width: 400px;
                margin: auto;
            }
        }
    }
}