.hero {
  width: 100%;
  height: calc(100vh - 64px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .headline {
    width: 300px;
    height: 300px;
    background-color: $color_azure;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
  }
}

section {
  padding: 24px 16px;
}

.stats {
  background-color: $color_white-smoke;
  ul {
    margin-bottom: 20px;
  }
  li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      margin: 0 20px;
      display: block;
      position: relative;
      border: 3px solid $color_azure;
      min-width: 150px;
      height: 150px;
      text-align: center;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
        content: '';
        border: 2px solid $color_pumpkin-orange;
        top: 2px;
        left: -6px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
      }
      &:before {
        content: '';
        border: 2px solid $color_dark-mint;
        top: 2px;
        left: 5px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
      }
    }
    p {
      margin: 0;
    }
  }
  .double-border {
      display: block;
      position: relative;
      border: 3px solid $color_azure;
      padding: 20px 30px;
      margin: 40px;
    &:before {
      content: '';
      border: 3px solid $color_azure;
      top: 5px;
      left: 5px;
      width: 100%;
      height: 100%;
      position: absolute;
      white-space:nowrap;
      box-sizing: initial;
    }
  }
}

.about {
  background-color: $color_dark-mint;
  padding: 16px;
  color: white;
  ul {
    padding-left: 40px;
  }
  li {
    list-style: disc;
    margin-left: 20px;
  }
}

.difference {
  background-color: $color_white-smoke;
  h2 {
    background-color: white;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.figures {
  display: flex;
  li {
    width: 33%;
    text-align: center;
  }
}

.testimonial {
  .container {
    display: flex;
  }
  .icon {
    width: 25%;
  }
  .text {
    width: 75%;
  }
}

.riipen-brand {
  color: $color_pumpkin-orange;
  a {
    color: $color_pumpkin-orange;
    .highlight {
      color: $color_twilight-blue;
    }
  }
}
