.hero {
  width: 100%;
  height: calc(100vh - 64px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .headline {
    width: 19rem;
    height: 19rem;
    background-color: $color_azure;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
  }
}

section {
  padding: 1.5rem 1rem;
}

.stats {
  background-color: $color_white-smoke;
  ul {
    margin-bottom: 1.5rem;
  }
  li {
    list-style: none;
    margin-bottom: 1.5rem;
    &:last-child {
      h2 {
        order: 1;
      }
    }
    &:first-child,
    &:last-child {
      div {
        display: flex;
        align-items: center;
      }
      h2 {
        margin: 0 1rem;
        display: block;
        position: relative;
        border: 3px solid $color_azure;
        min-width: 10rem;
        height: 10rem;
        text-align: center;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:after {
          content: '';
          border: 2px solid $color_pumpkin-orange;
          top: 2px;
          left: -6px;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          position: absolute;
        }
        &:before {
          content: '';
          border: 2px solid $color_dark-mint;
          top: 2px;
          left: 5px;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          position: absolute;
        }
      }
    }
    &:nth-child(2) {
      padding: 0 1rem;
      display: block;
      position: relative;
      border: 3px solid $color_azure;
      width: 20rem;
      height: 20rem;
      text-align: center;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      &:after {
        content: '';
        border: 2px solid $color_pumpkin-orange;
        top: 2px;
        left: -6px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
      }
      &:before {
        content: '';
        border: 2px solid $color_dark-mint;
        top: 2px;
        left: 5px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
      }
    }
    p {
      margin: 0;
    }
    h2 {
      font-size: 3.5rem;
      margin: 0;
      font-weight: lighter;
    }
  }
  .double-border {
    font-style: italic;
      display: block;
      position: relative;
      border: 3px solid $color_azure;
      padding: 1rem;
    &:before {
      content: '';
      border: 3px solid $color_azure;
      top: 5px;
      left: 5px;
      width: 100%;
      height: 100%;
      position: absolute;
      white-space:nowrap;
      box-sizing: initial;
    }
  }
}

.about {
  background-color: $color_dark-mint;
  padding: 16px;
  color: white;
  ul {
    padding-left: 40px;
  }
  li {
    list-style: disc;
    margin-left: 20px;
  }
}

.difference {
  background-color: $color_white-smoke;
  h2 {
    background-color: white;
    text-align: center;
  }
  p {
    text-align: center;
  }
  ol {
    margin: 0 auto;
    width: 65%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li {
      width: 100%;
      counter-increment: item;
      margin-bottom: 1rem;
      &:before {
         margin-right: 10px;
         content: counter(item);
         border-radius: 100%;
         border: 2px solid $color_azure;
         width: 1.75rem;
         height: 1.5rem;
         padding-bottom: 1.5rem;
         text-align: center;
         display: inline-block;
       }
    }
  }
}

.figures {
  display: flex;
  li {
    width: 33%;
    text-align: center;
  }
}

.testimonial {
  .container {
    display: flex;
  }
  .icon {
    width: 25%;
  }
  .text {
    width: 75%;
    font-size: .8rem;
  }
  h3 {
    text-align: right;
    font-size: .8rem;
    font-style: italic;
  }
}

.highlight-orange {
  color: $color_pumpkin-orange;
  a {
    color: $color_pumpkin-orange;
  }
}

.highlight-blue {
  color:  $color_twilight-blue;
  a {
    color: $color_twilight-blue;
  }
}
