/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
#primary-menu{
	@include desktop{
		display: flex !important;
	}
}
/* Links */

a {
	color: black;
	text-decoration: none;
	transition: all 0.5s ease;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color_pumpkin-orange;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.site-header {
	background: white;
	position: fixed;
	z-index: 2;
	height: 68px;
	width: 100%;
	box-shadow: 0 0 8px rgba(0,0,0,.7);
	.container {
		height: 100%;
		max-width: calc(1000px + 2rem);
		padding: 0 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	.fa {
		color: $color_twilight-blue;
		font-size: 1.5rem;
		-webkit-text-stroke: 1px white;
	}
}

.site-branding {
	height: 1.5em;
	width: 5em;
	order: 1;
	@include desktop {
		order: 0;
	}
}

.main-navigation {
	order: 0;
	display: flex;
	ul {
		font-size: 1rem;
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: $color_white-smoke;
		width: 100vw;
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			background-color: $color_white-smoke;
			padding: 10px 20px;
			white-space: nowrap;
			&:hover > a,
			&.focus > a {
			}
			@include desktop {
				position: relative;
				background-color: transparent;
				margin: 0;
				padding: 0;
			}
		}
		.riipen-brand {
			@include desktop {
				order: 1;
			}
		}
		.menu-item-has-children {
			padding: 0 20px;
			font-size: 0;
			@include desktop {
				padding: 0;
				font-size: 1em;
			}
		}
		ul {
			display: block;
			top: inherit;
			position: inherit;
			height: auto;
			@include desktop{
				padding: 0;
				position: absolute;
				top: 100%;
				display: none;
				z-index: 99999;
			}
			ul {
				left: -999em;
				top: 0;
			}
			li {
				font-size: 1em;
				margin: 0;
				padding: 10px 0;
				display: block;
				&:hover > ul,
				&.focus > ul {
					margin-left: auto;
					margin-right: auto;
					left: 100%;
					right: 100%;
				}
				@include desktop {
					padding: 0;
				}
			}
			:hover > a,
			.focus > a {
			}
			a:hover,
			a.focus {
			}
		}
		li:hover > ul,
		li.focus > ul {
			display: block;
		}
		@include desktop {
			font-weight: bold;
			width: auto;
			display: flex;
			position: initial;
			height: 68px;
			a {
				display: block;
				line-height: 68px;
				padding: 0 10px;
				color: $color_twilight-blue;
				&:hover {
					color: white;
					background-color: $color_twilight-blue;
					.highlight-blue {
						color: white;
					}
				}
			}
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include desktop {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Search Bar */
.site-search {
	order: 3;
	fieldset {
		margin: 0;
		padding: 0;
	}
	.show-search {
		border: 0;
		padding: 0;
		margin: 0;
		display: inline-block;
		cursor: pointer;
		font-size: 1rem;
	}
	label {
		position: absolute;
		top: 100%;
		right: 0;
	}
	input[type=search] {
		font-size: 1rem;
		background-color: white;
		border: 0;
		border-radius: 0;
		padding-left: 1rem;
		margin: 0;
		width: 250px;
		display: none;
		&:focus {
			outline: 0;
		}
	}
}
