.organization-section-1{
        height: 242px;
        padding: .5em 1em;
        background-image: url('../../images/organizationheader.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        max-width: 100%;
        position:relative;
        @include desktop{
            height: 400px;
        }
}
