.search-pagination {
	a {
		background: $color_dark-sky-blue;
		padding: 10px;
		border: 1px solid $color__text-main;
		&:hover {
			background: $color_pumpkin-orange;
			color: $color__background-body;
		}
	}
	span {
		background: $color_greyish;
		padding: 10px;
	}
}