
.search-results{
	article{
		display: none;
	}
	br{
		display: none;
	}
	.entry-title{
		font-size: 1.5rem;
	}
	.results-wrapper{
		display: flex;
		flex-wrap: wrap;

	}
	.page-header{
		width: 100%;
	}
	.has-post-thumbnail {
		display: block;
		width: 50%;
		box-sizing: border-box;
		padding: 10px;
		margin: 0;

		@include desktop{
			width: 25%;
		}

		box-sizing: border-box;
		text-align: center;
 			img{
 				height: 100%;
 				max-height: 200px
 			}
 		}
 		.featuredimage{
 			width: 100%;
 			height: 125px;
 			@include desktop{
 				height: 250px;
 			}
 			background-size: contain;
 			background-repeat: no-repeat;
 			background-position: center;

 		}
 		.search-pagination{
 			width: 100%;
 		}
 	}
