.single-organizations{
	.site-content{
		background: $color_white-smoke;
	}
	.entry-header{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 110px;
		h1{
			padding-top: 90px;
			font-size: 36px;
		letter-spacing: 1.8pt
		}
		img{
			width: 200px;
			height: 200px;
		}
		.entry-title{
			width: 100%;
			padding-left: 5%;
			margin-bottom: 90px;
			
		}
	}	
	.entry-content{
		width: 90%;
		margin: 0 auto;
		padding-bottom: 140px;
		font-size: 24px;
	}

	/*----- Tabs -----*/
	.tabs {

		width:90%;
		// display:inline-block;

		margin: 0 auto;
		padding-bottom: 146px;
		p{
			word-wrap: break-word;
			margin: 0;
		}
	}

	/*----- Tab Links -----*/
	/* Clearfix */
	.tab-links{
		margin: 0;
		&:after {
			display:block;
			clear:both;
			content:'';
		}
	
		li {
			max-width: 25%;
			margin:0px 5px;
			float:left;
			list-style:none;
		}
	
		a {
			padding:9px 15px;
			display:inline-block;
			border-radius:10px 10px 0 0;
			background: $color_dark-mint;

			font-size:16px;
			font-weight:600;
			color: $color_white-smoke;
			transition:all linear 0.15s;
		}
	
		 a:hover {
		 	outline: none;
			background:$color_light-mint;
			text-decoration:none;
		}
	}
	li.active a, li.active a:hover {
		background:#fff;
			outline: none;
		color:$color_azure;

	}

	/*----- Content of Tabs -----*/
	.tab-content {
		padding:15px;
		border-radius:7px;
		// box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
		background:#fff;
	}

	.tab {

		display:none;
	}

	.tab.active {
		display:block;
	}
}