.sep-title {
    text-align: center;
}

.sep-classes {
    margin-top: 50px;
    p {
        text-transform: uppercase;
        margin: 0;
    }
    .sep-course-title {
        color: lightblue;
        font-size: 1rem;
        margin-top: 50px;
    }
    .sep-course-info {
        margin-top: 20px;
    }
}

.sep-picture-container {
    height: 200px;
    width: 61%;
    position: absolute;
    border: 2px solid orange;
    margin: auto;
    margin-top: 20px;

    height: 200px;
    width: 70%;
    position: absolute;
    border: 2px solid orange;
    margin: 0 auto;
    left: 15%;
    margin-top: 20px;

     :after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.sep-picture {
    position: relative;
    img {
        display: block;
        margin: auto auto;
        height: 250px;
        width: 174px;
        object-fit: cover;
    }
}

.sep-course-content2{
    font: 1rem $font__main;
    h2{
        margin:0;
        color: $color__link;
    }
    p{
        margin:0;
    }
}