.sep-title{
    text-align:center;
}

.sep-picture {
img{
display: block;
   margin: auto auto;
}
}

.sep-classes{
     margin-top: 50px;
p{
text-transform: uppercase;
margin: 0;
}
.sep-course-title{
color: lightblue;
font-size: 1rem;
margin-top: 50px;
}
.sep-course-info{
    margin-top: 20px;
}
}
