.single-institutions{
	.personwrapper{
		display: flex;
		justify-content: center;
	}

}
.riipen-since{
	padding: 10px 15px;
	text-align: right;
	color:$color_warm-grey;
}
.carousel-section{
	background-color: $color_white-smoke;
}