.sep-title {
    text-align: center;
}

.sep-classes {
    margin-top: 50px;
    p {
        text-transform: uppercase;
        margin: 0;
    }
    .sep-course-title {
        color: $color_azure;
        font-size: 1rem;
        margin-top: 50px;
    }
    .sep-course-info {
        margin-top: 20px;
    }
}

.sep-picture-container {
    height: 200px;
    width: 70%;
    position: absolute;
    border: 2px solid $color_pumpkin-orange;
    left: 15%;
    margin-top: 20px;
    @include desktop {
        height: 290px;
        width: 22%;
        left: 39%;
        margin-top: -18px;
    }
}

.sep-picture {
    position: relative;
    img {
        display: block;
        margin: auto;
        height: 250px;
        width: 174px;
        object-fit: cover;
    }
}

.sep-course-content1 {
    display: flex;
    justify-content: center;
    @include desktop {
        margin-top: 65px;
    }
}

.sep-course-content2 {
    font: 1rem $font__main;
    @include desktop {
        margin: auto;
        width: 20%;
    }
    h2 {
        margin: 0;
        color: $color__link;
        padding-top: 20px;
    }
    p {
        margin: 0;
    }
}