// Structure

$max-width: 1200px;
$base__space-unit: 1.5em;

// Colors
$color__greyborders: grey;
$color__background-body: #fff;
$color__text-main: black;
$color_white-smoke: #f7f7f7;
$color_greyish: #aaaaaa;
$color_warm-grey: #7e7e7e;
$color_warm-grey-two: #919191;
$color_dark-mint: #4cc88d;
$color_dark-sky-blue: #2c8ddc;
$color_twilight-blue: #0c4160;
$color_azure: #27aefb;
$color_pumpkin-orange: rgb(246, 135, 8);
$transparent_pumpkin-orange: rgba(246, 135, 8, 0.2);

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: 12px 'Open Sans', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


//Breakpoints
$breakpoint: 1000px;
